body {
    color: white;
}

div.content {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    margin: auto;
}

div.partie-gauche,
div.partie-droite {
    flex-basis: 50%;
}

div.partie-gauche {
    text-align: center;
    border-right: medium white solid;
}

div.partie-droite {
    text-align: center;
    height: 30%;
    margin: auto;
}

h1 {
    margin-right: 0em;
    margin-left: 0em;
}