
div.albums ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
}

div.albums div{
    background-color: #1E1E1E;
    border-radius: 20px;
    padding: 1.5vh 1.5vw;
}

div.artistes ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
}

div.artistes div{
    background-color: #1E1E1E;
    border-radius: 20px;
    padding: 1.5vh 1.5vw;
}

.groupe{
    color: white;
}